/* Media Queris */

@media (min-width:2554px){

    .skill-box{
        gap: 32px;
        margin: 40px;
        
    }


}


@media (max-width:1024px){

    .section-home{

       flex-direction: column;
       
    
    }
    

}


/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    color: #fffffe !important;
    background-color: #232946 !important;
}



/* Secciones */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #232946;
    display: flex;
    justify-content: space-between;
    align-items: center;
   z-index: 100; 
 
  
}


.section-home{

    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    margin-bottom: 80px;
   

}


.section-contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 50px;

}

.section-skill{

padding-top: 66px;
margin-bottom: 200px;



}


.section-proyect{

    background: #121629;
    padding-top: 85px;
    padding-bottom: 50px;
    margin-bottom: 183px;

}

/* NAV - HEADER */

#menu-home{
    font-size: 25px;
    font-weight: 400;
    display: none;
}
.titulo-a{
font-size: 25px;
color: #fffffe;
text-decoration: none;
font-weight: 600;

cursor: default;
opacity: 0;
animation: slideRight 1s ease forwards;

}

.nav a{
    display: inline-block;
 font-size: 24px;
 color: #fff;
 text-decoration: none;
 font-weight: 600;
 margin-left: 80px;
 transition: .3s;
 opacity: 0;
animation: slideTop .5s ease forwards;
animation-delay:  calc(.2s * var(--i));

}

.nav a:hover,
.nav a.active {
    color: #eebbc3;

}


/* HOME */

.home-img img{

    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zommim 1s ease forwards;
    animation-delay: 1s;
}

.home-content{
max-width: 900px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-last-of-type(2){
    margin-bottom: 30px;
   
}



.home-content p{
    font-size: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .9s;
}


.home-content h1 span{
    color: #eebbc3;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700 ;
   
    margin:  0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}

.social-media a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #eebbc3 ;
    border-radius: 50%;
    font-size: 20px;
    color: #eebbc3;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
           


}

.social-media a:hover{
    background-color: #eebbc3;
    color:#232946;
    box-shadow: 0 0 20px #eebbc3;


}



/* KEYFRAMES ANIMATIONS */

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



@keyframes zommim {
    0%{
        transform:scale(0);
        opacity: 0;

    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}



/* Contact */


.social-contact a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 60px;
    color: #eebbc3;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
   
        

}

.primer-contact{
    display: inline-flex;
    border: solid 2px #eebbc3;
    background-color: #121629;
    border-radius: 28px;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 30px;
    width: 450px;
    transition: .4s ease;
}


.social-contact {

margin: 20px auto 20px auto;
           
}



.social-contact span {

font-size: 25px;
display: inline-block;
text-align: center;
justify-content: center;
align-items: center;
animation: slideBottom 1s ease forwards;
animation-delay: calc(.2s * var(--i));
             
    
}


.primer-contact:hover{
   
    color:#eebbc3;
    box-shadow: 0 0 20px #eebbc3;
    border: 2px solid #eebbc3 ;
    transform: scale(1.1);

}

.primer-contact:hover a {

    
    background: #eebbc3;
    border: 2px solid #eebbc3 ;
    border-radius: 50%;
    color: #232946;
    
           

}



.section-contact h3{
    
    font-size: 32px;
    margin: 20px auto auto auto;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.section-contact h3:nth-last-of-type(2){
    margin-bottom: 30px;
   
}



/* form */
.formulario-contact{
    width: 650px;
    height: 480px;
    margin: 20px auto;
    padding: 25px;
    background: #121629;
    border-radius: 10px;
    border: solid #232946 2px;
    color: #121629;
    font-size: 20px;
    font-weight: 700;
}

.span-form{
    display: flex;
    text-align: center;
    justify-content: center;
    color:  #ffffff;
    font-weight: 800;


}

.botonform{
    background-color: #eebbc3 !important;
    margin: 20px;
    color:#232946;
    
}

.text-formulario{
    margin: 8px;
    color: #fffffe;
    border-radius: 5px;
    border: solid 1px #eebbc3;
}





.formulario-contact textarea{
    resize: none;
   
}




/* SKILL */



.heading{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  

}

.heading span{
  color:#eebbc3;
  padding: 8px;
  

}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 30px
}

.skill-container .skill-box{
    flex: 1 1 30rem;
    background: #121629;
    padding: .5rem .2rem 1rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #121629;
    transition: .5s ease;
}


.skill-container .skill-box:hover{
   border-color: #eebbc3;
   transform: scale(1.02);
}




.skill-box i{
font-size: 5.5rem;
color: #eebbc3;

}

.skill-box h3{
    font-size: 2.2rem;
   
}

.skill-box p{
    font-size: 1.2rem;
    margin: 1rem 0 3rem ;
   
}


/* proyect */


.section-proyect h2{
    margin-bottom: 4rem;

}

.proyect-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 15px;
    margin: 15px;
}

.proyect-container .proyect-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #eebbc3;
    overflow: hidden;
    display: flex;

}


.proyect-box img {
width: 100%;
height: 420px;
transition: .5s ease;

}

.proyect-box:hover img {
    transform: scale(1.1);

    
    }

.proyect-box .proyect-layers{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), #eebbc3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;


}


.proyect-box:hover .proyect-layers{

transform:translateY(0);

}

.proyect-layers h4{
    font-size: 3rem;
    
}


.proyect-layers p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.proyect-layers a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background:#fffffe;
    border-radius: 50%;

}

.proyect-layers a i {
  
    font-size: 1rem;
    color: #121629;
}





